<div id="<%= dom_id busqueda %>">
  <p>
    <strong>Tipo:</strong>
    <%= busqueda.tipo %>
  </p>

  <p>
    <strong>Categoria:</strong>
    <%= busqueda.categoria %>
  </p>

  <p>
    <strong>Texto:</strong>
    <%= busqueda.texto %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= busqueda.email %>
  </p>

</div>
